@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Neue Machina';
  src: url(../src/assets/fonts/NeueMachina-Light.otf);
}

.ff_inter {
  font-family: 'Inter';
}

.ff_Raleway {
  font-family: 'Raleway';
}

.ff_jakarta {
  font-family: 'Plus Jakarta Sans';
}

.ff_michna {
  font-family: 'Neue Machina';
}

.text-decoration {
  list-style-type: disc !important;
}

:root {
  /* / font-size / */
  --fs_xsm: 9px;
  --fs_xs: 11px;
  --fs_sm: 13px;
  --fs_sm1s: 22px;
  --fs_20: 11px;
  --fs_24: 13px;
  --fs_md: 38px;
  --fs_36: 17px;
  --fs_lg: 26px;
  --fs_xl: 23px;
  --fs_2xl: 40px;

  /* / color / */
  --primary-color: #02cdcf;
  --greay: #D3E1F8;
  --secondary-color: #0b0a0a;
  --tertiary-color: #fcfcfc;
  --blue: #205FD5;
  --text_color: #1643C3;
  --text_greay: #CED5E2;
  --text_color1: #D4E2F9;

}

/* / font-size / */
.fs_xsm {
  font-size: var(--fs_xsm);
}

.fs_xs {
  font-size: var(--fs_xs);
}

.fs_sm {
  font-size: var(--fs_sm);
}

.fs_sm1s {
  font-size: var(--fs_sm1s);
}

.fs_24 {
  font-size: var(--fs_24);
}

.fs_20 {
  font-size: var(--fs_20);
}

.fs_36 {
  font-size: var(--fs_36);
}

.fs_md {
  font-size: var(--fs_md);
}

.fs_lg {
  font-size: var(--fs_lg);
}

.fs_xl {
  font-size: var(--fs_xl);
}

.fs_2xl {
  font-size: var(--fs_2xl);
}

/* /color */
.primary_color {
  color: var(--primary-color);
}

.text_greay {
  color: var(--text_greay);
}

.text_color {
  color: var(--text_color);
}

.text_color1 {
  color: var(--text_color1);
}

.blue {
  background-color: var(--blue);
}

.secondary_color {
  color: var(--secondary-color);
}

.tertiary_color {
  color: var(--tertiary-color);
}

.greay {
  color: var(--greay);
}

.bg_img {
  background-image: url(./assets/image/background_img.png);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;

}

.max-width {
  max-width: 524px;
}

.trasform {
  transform: translate(-23px, -53px);
}

#colorSelect {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 64px;
}

option {
  cursor: pointer;
  background: #000;
  border: none !important;
}

.img_width {
  width: 100%;
}

.enter-btn {
  padding: 16px 31px 16px 31px;
  border: #fff 2px solid;
  z-index: 2;
  border-radius: 8px;
  color: #FFF;
  background-color: transparent;
  transition: all 500ms ease-in-out;

}

.enter-btn:hover {
  background-color: #002CA2;
  color: white;


}

.navlink_hov::after {
  width: 0;
  content: '';
  bottom: 0;
  position: absolute;
  background-color: #FFF;
  height: 2px;
  right: 0;
  transition: all 200ms linear;


}

.navlink_hov:hover::after {
  width: 100%;
  left: 0;
}

.circle {
  width: 10.334px;
  height: 10.324px;
  flex-shrink: 0;
  border-radius: 100px;
  background-color: #002CA2;
  right: 2%;
  top: 7%;
}

.circle1 {
  width: 10.334px;
  height: 10.324px;
  flex-shrink: 0;
  border-radius: 100px;
  background-color: #002CA2;
  right: 2%;
  top: 12%;
}

.circle2 {
  width: 10.334px;
  height: 10.324px;
  flex-shrink: 0;
  border-radius: 100px;
  background-color: #002CA2;
  right: 2%;
  top: 17%;
}

.circle3 {
  width: 10.334px;
  height: 10.324px;
  flex-shrink: 0;
  border-radius: 100px;
  background-color: #002CA2;
  right: 2%;
  top: 22%;
}

.circle4 {
  width: 10.334px;
  height: 10.324px;
  flex-shrink: 0;
  border-radius: 100px;
  background-color: #002CA2;
  right: 2%;
  top: 27%;
}


.bulduing-font {
  color: var(--White, #FFF);
  font-family: 'Neue Machina';
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.636%;
}

.text_font {
  color: var(--White, #FFF);
  font-family: 'Raleway';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* section2 */
.bull_img {
  background-image: url(./assets/image/bull_bear_img.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.bull_font {
  color: var(--White, #FFF);
  font-family: Plus Jakarta Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.min_height {
  min-height: 50vh;
}

.font2 {
  color: var(--White, #FFF);
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  max-width: 554px;
}



/* core_section */

.bg_core {
  background-image: url(./assets/image/core_bg.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card_line {
  width: 100%;
  height: 3px;
  background-color: #4258A4;
}

.ab {
  position: absolute;
  top: -3%;
  z-index: 34 !important;
}

.sample_font {
  color: #223465;
  font-family: Raleway;
  font-size: 75.828px;
  line-height: 160%;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  display: none;

}

.dipogit_font {
  font-family: Neue Machina;
  font-size: 22px;
}

.max_width {
  max-width: 819px;
}

.card1 {
  border-radius: 12px;
  border: 1px solid #1643C3;
  width: 335px;
  background: linear-gradient(124deg, rgba(19, 245, 255, 0.25) 7.19%, rgba(0, 66, 255, 0.00) 93.2%);
  backdrop-filter: blur(12.5px);
}

.card_btn {
  padding: 11px 11px 11px 11px;
  justify-content: center;
  align-items: center;
  background-color: #1643C3;
  border: none;
  border-radius: 8px;
  color: var(--White, #FFF);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
}

.circil {
  width: 213.761px;
  height: 213.761px;
  background-color: #1540A3;
  border-radius: 120px;
}

.pos_ab {
  position: absolute;
  top: 24%;
}


/* section4 */
.section_bg_img {
  background-image: url(./assets/image/tocken1.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.tockenmice {
  background-image: url(./assets/image/tockenmice.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mx_width2 {
  max-width: none;
}


.dropdown:active .dropdown-content {
  display: block;
}

.white-token {
  background-image: url('./assets/image/white_token.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blue-token {
  background-image: url('./assets/image/blue_token.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contract-btn {
  padding: 17px 16px 17px 16px;
  background: linear-gradient(93deg, #1643C3 10.24%, #369EFE 208.68%);
  border: none;
}

.contract-btn:hover {
  background: linear-gradient(93deg, #41599b 10.24%, #0784f8 208.68%);
}

.token_font {
  color: var(--Black, #000);
  font-family: Neue Machina;
  font-size: 27px;
}

/* section5 */
.section5_img {
  background-image: url(./assets/image/section_5_img.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.round_font {
  color: var(--White, #FFF);
  font-variant-numeric: lining-nums proportional-nums;

}

.font_italic {
  font-style: italic;
}

.max-width1 {
  max-width: 853px;
  width: 100%;
}

.line1::after {
  position: absolute;
  content: '';
  max-width: 853px;
  background-color: #02cdcf;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.max_width1 {
  width: 190px;
  width: 100%;
}

.text_width {
  max-width: 521px;
}

.lining-nums {
  font-variant-numeric: lining-nums proportional-nums;
  font-style: italic;
}

.mt {
  margin-top: -12px;
}


/* section6 */
.elastic {
  max-width: 882px;
  text-align: center;
}

.bg_imgstra {
  background-image: url(./assets/image/bg_img6.png  );
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.card2 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid rgba(22, 67, 195, 0.30);
  background: linear-gradient(170deg, #1643C3 0.65%, #000 139.04%),
    linear-gradient(176deg, #3965E4 10.14%, #0C1F53 120.71%);
  box-shadow: 0px 5px 23px 0px rgba(22, 67, 195, 0.24);
  backdrop-filter: blur(49.5px);
  opacity: 0;
  top: 0;
  position: absolute;
  display: none;
}

.slick-dots li.slick-active button:before {
  background: #d9d9d9 !important;
  border-radius: 23px !important;
  color: transparent !important;
  height: 7px;
  width: 51px !important;
}

.slick-dots li button:before {
  background: #d9d9d9;
  border-radius: 23px;
  color: transparent !important;
  height: 7px !important;
  opacity: .3;
  top: 20px !important;
  width: 17px !important;
}

.mx_width {
  max-width: 62px;
}

.card3 {
  position: relative;
}

.card3:hover .card2 {
  opacity: 1;
  display: block;
}

.numeric {
  font-variant-numeric: lining-nums proportional-nums;
}

/* .height1 {
  height: 77vh;
} */
.nft_btn {
  padding: 7px 10px 7px 10px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(14.5px);
  left: 0;

}

.box {
  display: flex;
  width: 92px;
  height: 92px;
  top: 0;
  right: 0;
  padding: 9px;
  flex-shrink: 0;
  border-radius: 5.75px;
  border: 0.958px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(9.5px);
}

.nft_box {
  display: flex;
  height: 38px;
  padding: 5px 8px 5px 5px;
  gap: 8px;
  border-radius: 47.058px;
  border: 1.272px solid rgba(255, 255, 255, 0.60);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(15.89805793762207px);
}


/* sectiom_team */
.bg_img3 {
  background-image: url(./assets/image/bg_img.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.trasform12 {
  transform: translate(0px, -83px);
}

.height75 {
  height: 208px;
}

.box_1 {
  padding: 12px 12px 19px 12px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 44px 5px rgba(0, 0, 0, 0.08);
  transition: all 200ms ease-in-out;
}

.box_1:hover {
  transform: translateY(-7%);
}

/* ecosystem */


.svg_box {
  border-radius: 12.132px;
  border: 1.213px solid #C3D3FF;
  background: linear-gradient(93deg, #1643C3 10.24%, #369EFE 208.68%);
  box-shadow: 0px 7px 15px 0px rgba(22, 67, 195, 0.21);
  padding: 0px 44.348px 0px 44px;
  width: 290.348px;
  height: 132.583px;
  transition: all 700ms ease-in-out;
}

.mx_width1 {
  max-width: unset;
}

.svg_box:hover svg path {
  fill: #0b0a0a;
}

.svg_box:hover {
  background: linear-gradient(93deg, #4a78ee 10.24%, #2f91f3 208.68%);
}

.announced_btn {
  padding: 25px 31px 25px 31px;
  border-radius: 8px;
  border: 1px solid #1643C3;
  color: #1643C3;
  background-color: transparent;
  transition: all 400ms ease-in-out;
}

.announced_btn:hover {
  color: #FFF;
  background-color: #1643C3;

}

.roadmap_img {
  background-image: url(./assets/image/bgimgroadmap.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #4273FF;
  top: 6px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.cont {
  padding: 10px 100px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.cont::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #4273FF;
  border: 4px solid #284597;
  top: 5px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 36px 20px;
  border-radius: 8px;
  border: 1px solid var(--Blue, #1643C3);
  background: rgba(22, 67, 195, 0.10);
  position: relative;
  border-radius: 6px;
}


/* <contentus */
::placeholder {
  color: white;
  font-size: 18px;
}

input {
  background: transparent;
  padding: 24px 0px 24px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #A5BEEE 2px solid;
  width: 100%;
  color: #FFF;

}

.outline {
  outline: unset;
}

.pb {
  padding-bottom: 78px;
}

.input::placeholder {
  color: var(--White, #FFF);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.bg-content {
  background-image: url(./assets/image/content_img.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .bg {
  background-color: transparent;
  color: #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px black;

} */
.submit_btn {
  padding: 22px 40px 22px 40px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(93deg, #1643C3 10.28%, #369EFE 96.25%),
    linear-gradient(179deg, #1643C3 0.63%, #000 175.69%);
}

.submit_btn:hover {
  background: linear-gradient(93deg, #4272f7 10.28%, #165da0 96.25%),
    linear-gradient(179deg, #2d52b8 0.63%, #363535 175.69%);
}

.footer_line {
  background-color: #F5F5F5;
}

.link_hov {
  color: #4D4D4D;
}

.link_hov:hover {
  color: #000;
}

.cursor_pointer {
  cursor: pointer;
}

.svg_hov:hover circle {
  display: none;
  transition: all 700ms ease-in-out;
}

.svg_hov:hover {
  transform: scale(1.5);
  transition: all 700ms ease-in-out;
}



/* Media queries - Responsive timeline on screens less than 600px wide */
@media (max-width: 1200px) {
  .btn {
    display: block;
  }

  .nav-fix {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;
    transition: linear 500ms;
    min-height: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
  }

  .nav-fix div {
    flex-direction: column;
    gap: 20px;
  }

  .show-nav {
    position: fixed;
    width: 100%;
    background-color: #1039AF !important;
    top: 0;
    left: 0;
    z-index: 999 !important;
    transition: linear 500ms;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .show-nav div {
    flex-direction: column;
    gap: 20px !important;
  }

  .crossIconset {
    position: absolute;
    top: 20px;
    right: 44px;
  }


}

@media (max-width: 992px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .cont {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .cont::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


@media (min-width:576px) {
  .bull_font {
    font-size: 23px;
  }

  .ab {
    position: absolute;
    top: -5%;
    z-index: 34 !important;
  }

  .token_font {
    font-size: 32px;
  }

  .sample_font {
    font-size: 132.828px;
  }

  /* 
  .mx_width1 {
    max-width: ;
  } */

  .trasform12 {
    transform: translate(0px, -163px);
  }

  .height75 {
    height: 420px;
  }

  .min_height {
    min-height: 50vh;
  }

  .mx_width {
    max-width: 72px;
  }

  .nft_btn {
    padding: 12px 21px 12px 21px;
  }

  .bulduing-font {
    font-size: 85px;
  }

  .mx_width2 {
    max-width: none;
  }


  :root {
    --fs_xsm: 14px;
    --fs_xs: 14px;
    --fs_sm: 18px;
    --fs_sm1s: 22px;
    --fs_20: 17px;
    --fs_24: 24px;
    --fs_md: 38px;
    --fs_36: 30px;
    --fs_lg: 37px;
    --fs_xl: 39px;
    --fs_2xl: 85px;
  }
}

@media (min-width:768px) {
  .bull_font {
    font-size: 34px;
  }

  .ab {
    position: absolute;
    top: -7%;
    z-index: 34 !important;
  }

  .token_font {
    font-size: 35px;
  }

  .img_width {
    width: 70%;
  }

  .trasform12 {
    transform: translate(0px, -203px);
  }

  .height75 {
    height: 420px;
  }

  .svg_box {
    width: 326.348px;
    height: 145.583px;
  }

  .min_height {
    min-height: 75vh;
  }

  .nft_btn {
    padding: 12px 21px 12px 21px;
  }



  :root {
    --fs_xsm: 14px;
    --fs_xs: 15px;
    --fs_sm: 18px;
    --fs_sm1s: 22px;
    --fs_20: 20px;
    --fs_24: 24px;
    --fs_md: 38px;
    --fs_36: 36px;
    --fs_lg: 41px;
    --fs_xl: 52px;
    --fs_2xl: 85px;
  }
}

@media (min-width:992px) {
  .custom_container {
    max-width: 1140px !important;
  }

  .ab {
    position: absolute;
    top: -11%;
    z-index: 34 !important;
  }

  .token_font {
    font-size: 40px;
  }

  .bull_font {
    font-size: 52px;
  }

  .mx_width1 {
    max-width: 1029px;
  }

  .min_height {
    min-height: 100vh;
  }

  .nft_btn {
    padding: 12px 21px 12px 21px;
  }

  /* .enter-btn {
    padding: 16px 31px 16px 31px;
    border: #1643C3 2px solid;
    z-index: 2;
    border-radius: 8px;
    color: #1643C3;
    background-color: transparent;

  } */

  :root {
    --fs_xsm: 14px;
    --fs_xs: 16px;
    --fs_sm: 18px;
    --fs_sm1s: 22px;
    --fs_20: 20px;
    --fs_24: 24px;
    --fs_md: 38px;
    --fs_36: 36px;
    --fs_lg: 46px;
    --fs_xl: 52px;
    --fs_2xl: 85px;
  }

  .mx_width2 {
    max-width: 448px;
  }
}

@media (min-width:1200px) {
  .enter-btn {
    padding: 16px 31px 16px 31px;
    border: #1643C3 2px solid;
    z-index: 2;
    border-radius: 8px;
    color: #1643C3;
    background-color: transparent;

  }

  .token_font {
    font-size: 40px;
  }

  .ab {
    position: absolute;
    top: -12%;
    z-index: 34 !important;
  }
}

@media (min-width:1600px) {
  .ab {
    position: absolute;
    top: -19%;
    z-index: 34 !important;
  }
}